.search{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.search-box{
    height: 64px;
    width: 550px;
    border-radius: 50px;
    margin-left: 400px;
}
.search-button{
    height: 64px;
    background: #FD6E0A;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.form-class{
    display: flex;
}
@media only screen and (min-width: 960px) {
    .banner
    {
      width: 960px
      height: auto;
    }
    /* .search-button{
        height: 10px;
    } */
}
@media only screen and (min-width: 1440px) {
    .banner
    {
      width: 1440px
      height: auto;
    }
}